# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Databases
*.db
*.sqlite3

# IDEs/Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
.env*.local
.parcel-cache
.cache
.eslintcache
